body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  font-family: "Kanit", sans-serif;
  counter-reset: section;
}

.slide {
  display: block;;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65vh;
  width: 65vw;
  background: none;
  -webkit-transform: translate3d(-150%, -50%, 0) scale(0.8);
          transform: translate3d(-150%, -50%, 0) scale(0.8);
  -webkit-transition: box-shadow 800ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: box-shadow 800ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1), box-shadow 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1), box-shadow 800ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-blend-mode: exclusion;
  box-shadow: 0vw 1vh 2vw rgba(5, 97, 20, 0);
}

.slide .name {
  position: absolute;
  right: -1vw;
  bottom: 15vh;
  font-size: 25px;
  font-family: "Kanit", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0;
  -webkit-transform: translatey(-20%);
          transform: translatey(-20%);
  -webkit-transition: opacity 400ms linear, -webkit-transform 8000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 400ms linear, -webkit-transform 8000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 400ms linear, transform 8000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 400ms linear, transform 8000ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 8000ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slide .inner-trigger-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide .inner-trigger {
  position: absolute;
  top: 0;
  left: -5vw;
  height: 150%;
  width: 110%;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  font-size: 28vw;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 20vh;
  background: rgba(5, 97, 20, 0.5);
  color: white;
  -webkit-transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1), transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1), transform 800ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: underline;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  mix-blend-mode: overlay;
}

.control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  -webkit-transition: background 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: background 800ms cubic-bezier(0.86, 0, 0.07, 1);
  position: absolute;
  bottom: 10vh;
  left: 50%;
  -webkit-transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1), border 800ms cubic-bezier(0.86, 0, 0.07, 1), background 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1), border 800ms cubic-bezier(0.86, 0, 0.07, 1), background 800ms cubic-bezier(0.86, 0, 0.07, 1);
  border: 1px solid transparent;
}
.control:nth-child(1) {
  -webkit-transform: translatex(-242%) rotate(45deg);
          transform: translatex(-242%) rotate(45deg);
}
.control:nth-child(3) {
  -webkit-transform: translatex(-145%) rotate(45deg);
          transform: translatex(-145%) rotate(45deg);
}
.control:nth-child(5) {
  -webkit-transform: translatex(-48%) rotate(45deg);
          transform: translatex(-48%) rotate(45deg);
}
.control:nth-child(7) {
  -webkit-transform: translatex(48%) rotate(45deg);
          transform: translatex(48%) rotate(45deg);
}
.control:nth-child(9) {
  -webkit-transform: translatex(145%) rotate(45deg);
          transform: translatex(145%) rotate(45deg);
}
.control:nth-child(11) {
  -webkit-transform: translatex(242%) rotate(45deg);
          transform: translatex(242%) rotate(45deg);
}
.control:nth-child(4n-3) {
  border-left: 1px solid #e0b8da;
  border-top: 1px solid #e0b8da;
}
.control:nth-child(4n-3):checked {
  border-right: 1px solid rgba(224, 184, 218, 0.6);
  border-bottom: 1px solid rgba(224, 184, 218, 0.6);
}
.control:nth-child(4n-1) {
  border-bottom: 1px solid #e0b8da;
  border-right: 1px solid #e0b8da;
}
.control:nth-child(4n-1):checked {
  border-left: 1px solid rgba(224, 184, 218, 0.6);
  border-top: 1px solid rgba(224, 184, 218, 0.6);
}
.control:hover {
  background: rgba(224, 184, 218, 0.2);
}

.control:checked + .slide {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
          transform: translate3d(-50%, -50%, 0) scale(1);
  z-index: 2;
  cursor: initial;
  box-shadow: 0vw 1vh 3vh rgba(3, 48, 10, 0.2);
}
.control:checked + .slide:after, .control:checked + .slide .name {
  opacity: 1;
  -webkit-transform: translatey(0%);
          transform: translatey(0%);
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

.control:checked + .slide ~ .slide {
  -webkit-transform: translate3d(50%, -50%, 0) scale(0.8);
          transform: translate3d(50%, -50%, 0) scale(0.8);
  z-index: -1;
  cursor: pointer;
}

.control:checked + .slide + .control + .slide {
  -webkit-transform: translate3d(50%, -50%, 0) scale(0.8);
          transform: translate3d(50%, -50%, 0) scale(0.8);
  z-index: 1;
  cursor: pointer;
}

#view {
  position: absolute;
  left: 5vh;
  top: 5vh;
  -webkit-transform: translatex(-100%) translatey(-100%);
          transform: translatex(-100%) translatey(-100%);
  z-index: 2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3vh;
  height: 3vh;
  border: 1px solid #e0b8da;
  cursor: pointer;
  outline: none;
  -webkit-transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1);
}
#view:checked {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

#view:checked ~ .wrap .control {
  opacity: 0;
}
#view:checked ~ .wrap .slide {
  z-index: 1;
}
#view:checked ~ .wrap .slide:nth-child(2) {
  -webkit-transform: translate3d(-100%, -90%, 0px) scale(0.45);
          transform: translate3d(-100%, -90%, 0px) scale(0.45);
}
#view:checked ~ .wrap .slide:nth-child(4) {
  -webkit-transform: translate3d(-50%, -80%, 0px) scale(0.45);
          transform: translate3d(-50%, -80%, 0px) scale(0.45);
}
#view:checked ~ .wrap .slide:nth-child(6) {
  -webkit-transform: translate3d(0%, -90%, 0px) scale(0.45);
          transform: translate3d(0%, -90%, 0px) scale(0.45);
}
#view:checked ~ .wrap .slide:nth-child(8) {
  -webkit-transform: translate3d(-100%, -10%, 0px) scale(0.45);
          transform: translate3d(-100%, -10%, 0px) scale(0.45);
}
#view:checked ~ .wrap .slide:nth-child(10) {
  -webkit-transform: translate3d(-50%, -20%, 0px) scale(0.45);
          transform: translate3d(-50%, -20%, 0px) scale(0.45);
}
#view:checked ~ .wrap .slide:nth-child(12) {
  -webkit-transform: translate3d(0%, -10%, 0px) scale(0.45);
          transform: translate3d(0%, -10%, 0px) scale(0.45);
}
#view:checked ~ .wrap .control:checked + .slide {
  z-index: 2;
}
#view:checked ~ .wrap .control:checked + .slide .name, #view:checked ~ .wrap .control:checked + .slide:after {
  opacity: 0;
  opacity: 0;
  -webkit-transform: translatey(15%);
          transform: translatey(15%);
}
#view:checked ~ .wrap .control:checked + .slide .name {
  -webkit-transform: translatey(-15%);
          transform: translatey(-15%);
}
#view:checked ~ .wrap .control:checked + .slide:nth-child(2) {
  -webkit-transform: translate3d(-100%, -80%, 0px) scale(0.5);
          transform: translate3d(-100%, -80%, 0px) scale(0.5);
}
#view:checked ~ .wrap .control:checked + .slide:nth-child(4) {
  -webkit-transform: translate3d(-50%, -90%, 0px) scale(0.5);
          transform: translate3d(-50%, -90%, 0px) scale(0.5);
}
#view:checked ~ .wrap .control:checked + .slide:nth-child(6) {
  -webkit-transform: translate3d(0%, -80%, 0px) scale(0.5);
          transform: translate3d(0%, -80%, 0px) scale(0.5);
}
#view:checked ~ .wrap .control:checked + .slide:nth-child(8) {
  -webkit-transform: translate3d(-100%, -20%, 0px) scale(0.5);
          transform: translate3d(-100%, -20%, 0px) scale(0.5);
}
#view:checked ~ .wrap .control:checked + .slide:nth-child(10) {
  -webkit-transform: translate3d(-50%, -10%, 0px) scale(0.5);
          transform: translate3d(-50%, -10%, 0px) scale(0.5);
}
#view:checked ~ .wrap .control:checked + .slide:nth-child(12) {
  -webkit-transform: translate3d(0%, -20%, 0px) scale(0.5);
          transform: translate3d(0%, -20%, 0px) scale(0.5);
}
#view:checked ~ .wrap .control:checked + .slide .inner-trigger {
  display: block;
  z-index: 3;
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.instruction {
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

.sig {
  position: fixed;
  bottom: 8px;
  right: 8px;
  text-decoration: none;
  font-size: 40px;
  font-weight: 100;
  font-family: sans-serif;
  color: white;
  letter-spacing: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
