body {
background-color:#10080a;
background-image:url();
background-repeat:repeat;
background-position:center;
background-attachment:fixed;
color:#baa1af;
cursor:normal;
font-family:'Martel Sans', sans-serif;
line-height:16px;
font-size:11px;
letter-spacing:0px;
text-align:left;
margin: 0;
padding: 0;
overflow: scroll;


}
.titless {
font-size: 60px;
color:white;
font-style: sans-serif;
text-align: center;
}
#aboutinfo {
  font-size: 22px;
  color:white;
  font-style: sans-serif;
  padding:10px;
  word-spacing: 0px;
  line-height: normal;
}
.space{
  height: 250px;
}
#background {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:#10080a url(../images/logo.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;

}

.grad {
    position:absolute;
    bottom:0;
    margin-bottom:0px;
    left:0;
    background-image:linear-gradient(to bottom, transparent, black);
    width:100%;
    padding-top:40%;
    opacity:1;
}

#beauty {
  float: right;
  position:absolute;
    margin: 0 0 -600px;
    left: -650px;
    padding-top: 0px;
    height: 700px;
}
.imug {
position: relative;
left: 37%;
width: auto;
height: 480px;
}
.imug2 {
position: relative;
left: 27%;
width: auto;
height: 480px;
}
/*--------------------CONTAINER--------------------*/

#container {
margin:0 auto;
top:100%;
left:0;
right:0;
width:80%;
padding-top:250px;
margin-bottom:40px;
position:absolute;
z-index:100;
}
#container2 {
  margin:0 auto;
  top:100%;
  left:700px;
  right:0;
  width:600px;
  padding-top:550px;
  margin-bottom:40px;
  position:absolute;
  z-index:100;
}


/*-----------------TOP BAR----------------------*/

.intro1
{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 97.1%;
  left: 96%;
  transform: translate(-50%,-50%);
  z-index: 999;
  width: 100%;
}
.intro1 .intro2
{
  display: inline-block;
  transform-style: preserve-3d;
}
.intro1 .intro2 .intro3
{
  color: rgba(255,255,255,0.2);
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  position: relative;

}
.intro1 .intro2 .intro3 .intro4
{
  display: block;
  padding: 20px 35px;
}
.intro1 .intro2 .intro3 .intro4:before
{
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  color: black;
  padding: 20px 35px;
  transform-style: preserve-3d;
  transition: .2s;
  transform: rotateX(90deg) translateY(50px);
  transform-origin: bottom;
}
.intro1 .intro2 .intro3 .intro4:hover:before
{
  transform: rotateX(0deg) translateY(0px);
}
.intro1 .intro2 .intro3 .intro4:after
{
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, black);
  color: white;
  padding: 20px 35px;
  transform-style: preserve-3d;
  transition: .2s;
  transform: rotateX(0deg) translateY(0px);
  transform-origin: top;
}
.intro1 .intro2 .intro3 .intro4:hover::after
{
  transform: rotateX(90deg) translateY(-10px);
}
